[submodule "client/3pp/jsone"]
	path = client/3pp/jsone
	url = git@github.com:sile/jsone.git
[submodule "client/3pp/libbert"]
	path = client/3pp/libbert
	url = git@github.com:ruediger/libbert.git
[submodule "client/3pp/bert.erl"]
	path = client/3pp/bert.erl
	url = git@github.com:mojombo/bert.erl.git
[submodule "client/3pp/libBERT"]
	path = client/3pp/libBERT
	url = git@github.com:postmodern/libBERT.git
